In [1]:
idades = [16, 21, 29, 56, 43]
idades

[16, 21, 29, 56, 43]

In [2]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)

5

In [3]:
idades

[16, 21, 29, 56, 43, 13]

In [4]:
def faz_processamento_de_visualizacao(lista = []):
  print(len(lista))
  print(lista)
  lista.append(13)

In [5]:
faz_processamento_de_visualizacao()

0
[]

In [6]:
faz_processamento_de_visualizacao()

1
[13]

In [7]:
def faz_processamento_de_visualizacao(lista = list()):
    print(len(lista))
    print(lista)
    lista.append(13)

In [8]:
faz_processamento_de_visualizacao()

0
[]

In [9]:
faz_processamento_de_visualizacao()

1
[13]

In [10]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [11]:
faz_processamento_de_visualizacao()

0
[]

In [12]:
faz_processamento_de_visualizacao()

0
[]

#Objetos próprios

In [13]:
class ContaCorrente:
  def __init__(self, codigo) -> None:
      self.codigo = codigo
      self.saldo = 0

  def deposita(self, valor):
      self.saldo += valor

  def __str__(self):
      return "[>> Codigo {} Saldo {} <<]".format(self.codigo, self.saldo)

In [14]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>> Codigo 15 Saldo 0 <<]

In [15]:
conta_do_gui.deposita(500)
print(conta_do_gui)

[>> Codigo 15 Saldo 500 <<]

In [16]:
conta_da_dani = ContaCorrente(7495)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>> Codigo 7495 Saldo 1000 <<]

In [17]:
contas = [conta_da_dani, conta_do_gui]

In [18]:
print(contas)

[<__main__.ContaCorrente object at 0x7f0aff15df90>, <__main__.ContaCorrente object at 0x7f0aff157c90>]

In [19]:
print(contas[0])

[>> Codigo 7495 Saldo 1000 <<]

In [20]:
print(conta_da_dani)

[>> Codigo 7495 Saldo 1000 <<]

In [21]:
print(contas[1])

[>> Codigo 15 Saldo 500 <<]

In [22]:
contas[1].deposita(300)

In [23]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

In [24]:
contas = [conta_da_dani, conta_do_gui]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>> Codigo 7495 Saldo 1000 <<] [>> Codigo 15 Saldo 800 <<]
[>> Codigo 7495 Saldo 1100 <<] [>> Codigo 15 Saldo 900 <<]

In [25]:
def deposita(conta): # variação "funcional"(separando o comportamento dos dados)
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [27]:
deposita(conta_do_gui)

TypeError: ignored

In [28]:
conta_do_gui = deposita(conta_do_gui)
conta_do_gui

TypeError: ignored

# Herança e Polimorfismo

In [29]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [30]:
print(conta(88))

NameError: ignored

In [31]:
class ContaCorrente(Conta):
  
  def passa_o_mes(self):
    self._saldo -= 2
    
class ContaPoupanca(Conta):
  
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [32]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Codigo 16 Saldo 998<<]

In [33]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Codigo 17 Saldo 1007.0<<]

In [34]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

In [35]:
for conta in contas:
  conta.passa_o_mes() # duck typing
  print(conta)

[>>Codigo 16 Saldo 998<<]
[>>Codigo 17 Saldo 1007.0<<]

# evitaremos usar array puro. se precisamos de trabalho numérico, é costume usar o numpy

In [36]:
import array as arr

In [38]:
arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [39]:
arr.array('d', [1, 3.5, 'Vinicius'])

TypeError: ignored

In [40]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [41]:
import numpy as np

In [42]:
numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [43]:
numeros + 3

array([4. , 6.5])

In [44]:
class ContaSalario:

  def __init__(self, codigo) -> None:
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self) -> str:
     return "[>> Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

In [45]:
conta1 = ContaSalario(37)
print(conta1)

[>> Codigo 37 Saldo 0 <<]

In [46]:
conta2 = ContaSalario(37)
print(conta2)

[>> Codigo 37 Saldo 0 <<]

In [47]:
conta1 == conta2

False

In [48]:
contas = [conta1]
conta1 in contas

True

In [49]:
conta2 in contas

False

In [50]:
class ContaSalario:

  def __init__(self, codigo) -> None:
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
      return self._codigo == outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self) -> str:
     return "[>> Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

In [51]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [52]:
conta1 != conta2

False

In [53]:
conta1 in [conta2]

True

In [54]:
conta2 in [conta1]

True

In [55]:
class ContaSalario:

  def __init__(self, codigo) -> None:
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
      return self._codigo == outro._codigo and  self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self) -> str:
     return "[>> Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

In [56]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [57]:
conta1.deposita(10)

In [58]:
conta1 == conta2

False

In [59]:
class ContaSalario:

  def __init__(self, codigo) -> None:
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
        return False
        
    return self._codigo == outro._codigo and  self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self) -> str:
     return "[>> Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

In [60]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

In [61]:
conta1 == conta2

False

In [62]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [63]:
isinstance(ContaCorrente(34), Conta)

True

In [64]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [65]:
range(len(idades)) # lazy...

range(0, 8)

In [66]:
enumerate(idades) # lazy...

In [67]:
list(range(len(idades))) # forçando a geração dos valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [68]:
list(enumerate(idades)) # apresenta dentro de uma lista, indice e valores dentro de tupla

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [69]:
for indice, idade in enumerate(idades): # unpacking da nossa tupla
    print(indice, 'x', idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [70]:
usuarios = [
    ("Vinicius", 32, 1981),
    ("Rafaela", 22, 2000),
    ("Felipe", 15, 2005),
    ("Bruno", 30, 1991)
]

for nome, idade, nascimento in usuarios: # ja desempacotando, explicito
    print(nome)

Vinicius
Rafaela
Felipe
Bruno

In [71]:
for nome, _, _ in usuarios: # ja desempacotando, implicito
    print(nome)

Vinicius
Rafaela
Felipe
Bruno

In [72]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [73]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [74]:
15 < 32

True

In [75]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [76]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [77]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [78]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [79]:
idades.sort()

In [80]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

In [81]:
15 < 32

True

In [82]:
nomes = ["guilherme", "Paulo", "Daniela"]
sorted(nomes)

['Daniela', 'Paulo', 'guilherme']

In [84]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [85]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [86]:
for conta in contas:
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]

In [87]:
sorted(contas)

TypeError: ignored

In [88]:
conta_do_guilherme < conta_da_daniela

TypeError: ignored

In [89]:
def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [90]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [91]:
conta_do_guilherme < conta_da_daniela

TypeError: ignored

In [92]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def __lt__(self, outro):
    return self._saldo < outro._saldo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>> Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

In [94]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [95]:
conta_do_guilherme < conta_da_daniela

True

In [96]:
conta_do_guilherme > conta_da_daniela

False

In [97]:
for conta in sorted(contas):
  print(conta)

[>> Codigo 17 Saldo 500 <<]
[>> Codigo 133 Saldo 510 <<]
[>> Codigo 3 Saldo 1000 <<]

In [98]:
for conta in sorted(contas,reverse=True):
  print(conta)

[>> Codigo 3 Saldo 1000 <<]
[>> Codigo 133 Saldo 510 <<]
[>> Codigo 17 Saldo 500 <<]

In [99]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [100]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>> Codigo 133 Saldo 500 <<]
[>> Codigo 1700 Saldo 500 <<]
[>> Codigo 3 Saldo 1000 <<]

In [101]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [102]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>> Codigo 3 Saldo 500 <<]
[>> Codigo 133 Saldo 500 <<]
[>> Codigo 1700 Saldo 500 <<]

In [103]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    
    return self._codigo < outro._codigo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [104]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [105]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 3 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]

In [106]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [108]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [109]:
conta_do_guilherme < conta_da_daniela

True

In [110]:
conta_do_guilherme <= conta_da_daniela

TypeError: ignored

In [112]:
from functools import total_ordering

@total_ordering
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    
    return self._codigo < outro._codigo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>> Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

In [113]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [114]:
conta_do_guilherme <= conta_da_daniela

True

In [115]:
conta_do_guilherme <= conta_do_paulo

False

In [116]:
conta_do_guilherme < conta_do_guilherme

False

In [117]:
conta_do_guilherme == conta_do_guilherme

True

In [118]:
conta_do_guilherme <= conta_do_guilherme

True